@model VehicleShowroomManagementSystem.Models.Customer

@{
    ViewData["Title"] = "Edit";
}


<div class="customer container-fluid" style="margin-top:100px;min-height:500px">
    <div class="row ml-xl-5 mr-xl-5">
        <partial name="NavbarCustomer" />
        <div class="col-xl-10 col-ms-12 container-fluid">
            <hr />
            <h3 class="text-center">Edit</h3>
            <div class="row">
                <div class="col-xl-6 col-12" style="margin:auto">
                    <form asp-action="Edit" enctype="multipart/form-data">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <input type="hidden" asp-for="Account" class="form-control" />
                            <div>
                                <label asp-for="Account"></label> : <span style="font-size:16px;font-weight:400;color:black">@Model.Account</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="AvatarFile" class="control-label custom-file-upload"><i class="fa fa-cloud-upload"></i>@Html.DisplayNameFor(mo => mo.AvatarFile)</label>
                                    <input  asp-for="AvatarFile" class="form-control avatarFileEdit" />
                                    <span asp-validation-for="AvatarFile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group text-center">
                                    <img id="outputImgEdit" src="~/image/avatar/customer/@Model.Avatar" alt="Avatar" style="height:200px;width:200px;object-fit:cover" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <p>@ViewBag.msg</p>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
