@model VehicleShowroomManagementSystem.Models.Customer


<div class="customer">
    <div class="row ml-xl-4 mr-xl-4">
        <div class="col-xl-3 col-md-12">
            <div class="avatar">
                <div class="img mb-3">
                    <img src="~/image/avatar/customer/@Model.Avatar" alt="" class="w-100">
                </div>
            </div>
            <div class="navbar-sub-customer">
                <ul class="list-group">
                    <li class="list-group-item"><a asp-controller="Customers" asp-action="Cart">Cart</a></li>
                    <li class="list-group-item"><a asp-controller="Customers" asp-action="Invoices">Invoices</a></li>
                    <li class="list-group-item"><a asp-controller="Customers" asp-action="Edit">Edit Account</a></li>
                </ul>
            </div>
            <div class="logout mt-5">
                <a asp-controller="Customers" asp-action="Logout" class="btn btn-danger">Đăng xuất</a>
            </div>
        </div>
        <div class="col-xl-9 col-md-12">
            <ul class="list-group list-group-flush">
                @{
                    foreach (var item in Model.Carts)
                    {
                        <li class="list-group-item">
                            
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>