

@model Product

<div class="pay-content container" style="margin-top:100px">
    <h1 class="text-center">Pay</h1>
    <div class="card p-4">

        <form class="">
            <div class="form-group">
                <label for="ShippingAddress">ShippingAddress</label>
                <input type="text" class="form-control" id="ShippingAddress" placeholder="">
            </div>
            <div class="form-group">
                <label for="ShippingPhone">ShippingPhone</label>
                <input type="text" class="form-control" id="ShippingPhone" placeholder="">
            </div>


        </form>
        <div class="row mt-4">
            <div class="col-xl-2">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id">
                    <img class="w-100" src="~/image/avatar/product/@Model.ProductImages[0].Path" />
                </a>
            </div>
            <div class="col-xl-3">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id">
                    @Model.Description.Substring(0, Model.Description.Length > 30 ? 30 : Model.Description.Length)...
                </a>
            </div>
            <div class="col-xl-2">
                @Model.Price $
            </div>

        </div>
        <div class="text-right">
            <button id="order" class="btn btn-success">Order</button>
        </div>
    </div>

</div>