<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height:400px">
        <form  class="login modal-content">
            <input id="login-name" name="account" type="text" placeholder="Username">
            <input id="login-password" name="password" type="password" placeholder="Password">
            <button >Login</button>
        </form>
    </div>
</div>
