        <!-- inner-about-area -->
<section class="inner-about-area gray-lite-bg pt-120 pb-60">
    <div class="container">
        <h2 class="text-center mb-2">About Our History</h2>
        <div class="row">
            <div class="col-12">
                <div class="inner-about-img mb-75">
                    <img src="https://themebeyond.com/html/carnation/carnation/img/images/about_img.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-10">
                <div class="inner-about-content mb-60">
                    <div class="section-title mb-25">
                        <span class="sub-title">About Our Company</span>
                        <h2 class="title">More for could over car here<span>.</span></h2>
                        <div class="line"><img src="https://themebeyond.com/html/carnation/carnation/img/images/title_line.png" alt=""></div>
                    </div>
                    <p>
                        Lorem ipsum, or lipsum as it is sometimes known dummy text used in laying out print, graphic web
                        The passage is attributed
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- inner-about-area-end -->
<!-- about-area -->
<section class="about-area about-bg pt-120 pb-120" data-background="https://themebeyond.com/html/carnation/carnation/img/bg/about_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img-wrap">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="about-exp">
                                <h2>49<span>+</span></h2>
                            </div>
                            <div class="about-img">
                                <img src="https://themebeyond.com/html/carnation/carnation/img/images/about_img01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="about-img">
                                <img src="https://themebeyond.com/html/carnation/carnation/img/images/about_img02.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content-wrap">
                    <div class="section-title white-title mb-40">
                        <span class="sub-title">About Our Company</span>
                        <h2 class="title">More for trade-in could increase car here<span>.</span></h2>
                    </div>
                    <div class="content">
                        <div class="icon">
                            <img src="img/images/m.png" alt="">
                        </div>
                        <p>
                            Lorem ipsum, or lipsum as it is sometimes known dummy text used in laying out print, graphic or web designs. The passage
                            is attributed to an unknown.
                        </p>
                    </div>
                    <div class="about-list mb-40">
                        <ul>
                            <li>
                                <div class="icon"><i class="fa fa-check"></i></div>
                                Sometimes known dummy
                            </li>
                            <li>
                                <div class="icon"><i class="fa fa-check"></i></div>
                                Best solution for developing your business
                            </li>
                            <li>
                                <div class="icon"><i class="fa fa-check"></i></div>
                                Deserunt ad ipsum sint excepteur
                            </li>
                            <li>
                                <div class="icon"><i class="fa fa-check"></i></div>
                                Lorem sit occaecat ea proident excepteur
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area-end -->
<!-- faq-area -->
<div class="faq-area position-relative fix pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-0 order-lg-2">
                <div class="faq-img">
                    <img src="https://themebeyond.com/html/carnation/carnation/img/images/faq_img.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-wrap">
                    <div class="faq-set active">
                        <a class="active" href="#">Do you offer any warranty? <i class="fa fa-minus"></i></a>
                        <div class="content" style="display: block;">
                            <p>
                                Lorem ipsum, or lipsum as it is sometimes known dummy text used in laying out print, graphic web
                                The passage is attributed
                            </p>
                        </div>
                    </div>
                    <div class="faq-set">
                        <a href="#">What is Auto Detailing? <i class="fa fa-plus"></i></a>
                        <div class="content">
                            <p>
                                Lorem ipsum, or lipsum as it is sometimes known dummy text used in laying out print, graphic web
                                The passage is attributed
                            </p>
                        </div>
                    </div>
                    <div class="faq-set">
                        <a href="#">Is it urgent to fix an oil leak? <i class="fa fa-plus"></i></a>
                        <div class="content">
                            <p>
                                Lorem ipsum, or lipsum as it is sometimes known dummy text used in laying out print, graphic web
                                The passage is attributed
                            </p>
                        </div>
                    </div>
                    <div class="faq-set">
                        <a href="#">How do I check my tire pressure? <i class="fa fa-plus"></i></a>
                        <div class="content">
                            <p>
                                Lorem ipsum, or lipsum as it is sometimes known dummy text used in laying out print, graphic web
                                The passage is attributed
                            </p>
                        </div>
                    </div>
                    <div class="faq-set">
                        <a href="#">The passage is attributed unknown? <i class="fa fa-plus"></i></a>
                        <div class="content">
                            <p>
                                Lorem ipsum, or lipsum as it is sometimes known dummy text used in laying out print, graphic web
                                The passage is attributed
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-bg-dots" data-background="img/bg/faq_dots_bg.jpg"></div>
</div>
<!-- faq-area-end -->